body {
    -webkit-app-region: drag;
}


div.viewer {
    height: 250px;
    width: 750px;
}


img.background {
    position: relative;
    border-radius: 10px;
    width: 100%;
    border: solid;
    border-color: red;
}


div.viewer>p.title {
    position: absolute;
    display: flex;
    font-size: 20px;
    padding: 2px;
    padding-left: 3px;
    justify-content: center;
    background-color: grey;
    border: solid red;
    border-radius: 25px;
    left: 15%;
    right: 20%;
    top: 29px;
}


div.infomap{
    /* display: flex; */
    
}


p.ar{
    position: absolute;
    border-radius: 5px;
    background-color: aqua;
    top: 175px;
    left: 250px;
}


p.cs{
    position: absolute;
    border-radius: 5px;
    background-color: aqua;
    top: 175px;
    right: 50%;
}


p.sr{
    position: absolute;
    border-radius: 5px;
    background-color: aqua;
    top: 175px;
    right: 250px;
}